.container {
    width: 120px;
    height: 36px;
    background-color: white;
    border: 1px solid #cccbce;
    position: relative;  }
  
  .content {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
gap: 10px;
    justify-content: space-between;
    padding: 5px 10px;
	cursor: pointer;
  }
  .dropDownContent {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
gap: 75px;
    justify-content: space-between;
    padding: 5px 10px;
	cursor: pointer;
background: none;
border: none;
  }
  
  .quantityText {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    text-align: center;
    color: black;
  }
  
  .iconButton {
    width: 8px;
    height: 8px;
    cursor: pointer;
  }
  
  .dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    width: 119px;
    background-color: white;
    color: black;
    border: 1px solid #cccbce;
    z-index: 10;
    overflow: hidden;
}

.dropdownList {
    max-height: 300px; 
    overflow-y: auto;
    display: grid;
    grid-template-rows: repeat(30, auto);
}

  
  .dropdownItem {
    padding: 8px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border: none;
    background:none;
  }
  
  .dropdownItem:hover {
    background-color: white;
    color: black;
  }
  
  .downArrowIcon {
    cursor: pointer;
  }
  