
.Slider {
    position: relative;
    display:grid;
    width: 50%;
    touch-action: none;
    user-select: none;
    place-items:center;
  }
  
  .Slider[data-orientation='vertical'] {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    width: 40px;
    height: 100px;
  }
  
  .SliderTrack {
    position: relative;
    height: 5px; 
    width: 70%;
    grid-column: span 1; 
    overflow: hidden;
    border-radius: 9999px;
    background-color: var(--colour-background-translucent-tertiary);
  }
  
  .SliderTrack[data-orientation='vertical'] {
    width: 3px;
  }
  
  .SliderRange {
    position: absolute;
    height: 100%;
    background-color: var(--colour-background-overlay);
    transition: width 0.3s ease; 
  }
  
  .SliderRange[data-orientation='vertical'] {
    width: 100%;
  }
  
  .SliderThumb {
    display: block;
    height: 1.25rem;
    width: 1.25rem;
    border-radius: 9999px;
    border: 2px solid var(--colour-background-translucent-tertiary);
    background-color: var(--colour-background-primary);
    outline: none;
    transition: color 0.3s, background-color 0.3s, border-color 0.3s;
  }
  
  .SliderThumb:focus-visible {
    outline: none;
    box-shadow: 0 0 0 2px hsl(var(--ring)), 0 0 0 4px hsl(var(--ring));
  }
  
  .SliderThumb:disabled {
    pointer-events: none;
    opacity: 0.5;
  }
  