.cardLayout {
  display: grid;
}

.carouselRow {
  display: flex;
  gap: 20px;
  overflow: hidden;
}

.dotsContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 12px;
  gap: 8px;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid #4F4B53;
  background-color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
}

.activeDot {
  background-color: #4F4B53;
}