.layoutContainer{
  container-type: inline-size;
  container-name: layout;
}
.scrollContainer {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}
.scrollContainer::-webkit-scrollbar {
  display: none;
}


.horizontalRow {
  display: flex;
  flex-wrap: nowrap;
  gap: 16px;
  padding-bottom: 10px;
}

.cardWrapper {
  flex: 0 0 auto;
  width: clamp(189px, 40vw, 325px); 
}
.cardLayout {
  display: grid;
  column-gap: 20px;
  row-gap: 40px;
  justify-content: center;
  grid-template-columns: repeat(4,  1fr);

}

@container layout (max-width: 768px) {
  .cardLayout {
    display: grid;
    column-gap: 10px;
    row-gap: 20px;
    justify-content: center;
    grid-template-columns: repeat(2,  1fr);
  }
}
.carouselRow {
  display: flex;
  gap: 20px;
  overflow: hidden;
}

.dotsContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 12px;
  gap: 8px;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid #4F4B53;
  background-color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
}

.activeDot {
  background-color: #4F4B53;
}
