.layout {
  padding: clamp(15px, 5vw, 40px);
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--space-xl);
}

.componentLayout {
  display: grid;
  align-items: center;
  container-type: inline-size;
}
.firstLayout {
  display: grid;
  grid-template-columns: 0.75fr 0.4fr;
  grid-template-areas:
    "TitleWrapper OrderSummary"
    "AddressCard OrderSummary"
    "BillCheck OrderSummary"
    "Accordion OrderSummary"
    "ShippingMethod OrderSummary";
    gap: var(--space-8xl);
  @container (max-width: 700px) {
    grid-template-columns: 1fr;
    grid-template-areas:
      "TitleWrapper"
      "AddressCard"
      "BillCheck"
      "Accordion"
      "ShippingMethod"
      "OrderSummary";
      row-gap: var(--space-12xl);
  }
}
.tittleWrapper {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  align-items: center;
  grid-area: TitleWrapper;
}
.address {
  grid-area: AddressCard;
}
.accordion {
  width: 100%;
  grid-area: Accordion;
}
.accordionContent {
  text-align: justify;
  max-width: 50vw;
}
.shippingmethod {
  grid-area: ShippingMethod;
  display: grid;
  gap: var(--space-xl);
  
}
.summary {
  grid-area: OrderSummary;
}
.billCheck {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: var(--space-4xs);
  grid-area: BillCheck;
  padding: 5px;
}
.cardGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: clamp(var(--space-xl), 2vw, 2rem);
}



@container (max-width: 700px) {
  .cardGrid {
    grid-template-columns: repeat(1, 1fr);
  }
}
.card {
  display: grid;
  grid-template-rows: auto 1fr auto;
  border: 1px solid var(--colour-border-tertiary);
  padding: 1rem;
  background: var(--colour-surface-primary);
  gap: var(--space-xs);
  transition: background 0.3s;
}
.wrapper {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  border-bottom: 1px solid var(--colour-border-tertiary);
  padding: 0 4px;
}

.name {
  font-weight: var( --font-weight-semibold);
  font-size: var(--font-size-font-size-400-M);
  margin-top: 5px;
  margin-bottom: 0.25rem;
  padding-bottom: 1rem;
}

.address {
  font-size: var(--font-size-font-size-300);
  color: var(--colour-icon-secondary);
  margin-top: 0.25rem;
  margin-bottom: 30px;
  line-height: 1.4;
}


/* skeleton styles */

.skeletonAddressCard {
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 16px;
  /* width: 388px; */
  width:50%;
  height: 216px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.skeletonShippingCard {
  border: 1px solid #ddd;
  border-radius: 2px;
  padding: 16px;
  /* width: 350px; */
  width: 45%;
  height: 165px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.skeletonLayout {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: flex-start;
}

.skeletonTitle {
  height: 20px;
  width: 60%;
  margin-bottom: 10px;
}

.skeletonAddress {
  height: 16px;
  width: 100%;
  margin-bottom: 8px;
}

.skeletonLine90 {
  height: 16px;
  width: 90%;
}

.skeletonSubtitle {
  height: 16px;
  width: 100%;
  margin-bottom: 30px;
}

.skeletonDesc {
  height: 16px;
  width: 50%;
  margin-bottom: 8px;
}

.skeletonButtons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  align-items: flex-end;
}

.skeletonBtn {
  height: 24px;
  width: 30%;
}

.skeletonSummary {
  height: 430px;
  width: 100%;
}


.errorText {
  color: red;
  font-size: 14px;
  margin-top: 8px;
}
