.accordionContainer {
  border-bottom: 1px solid #e5e7eb;
}

.accordionButton {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: start; 
  padding-top: 1rem;
  padding-bottom: 1rem;
  background: none;
  border: none;
  cursor: pointer;
}

.accordionTitle {
  display: grid;
  grid-auto-flow: column;
  align-items: start; 
  column-gap: 0.75rem; /* space-x-3 */
  justify-content: start; 
}

.accordionHeading {
  font-weight: 800;
  color: black;
}

.chevronIcon {
  width: 1.25rem;
  height: 1.25rem;
  color: #6b7280;
}

.accordionContent {
  padding-top: 0.5rem;
  padding-bottom: 1.5rem;
  display: grid;
  row-gap: 1.5rem; /* space-y-6 */
}

.accordionItem {
  display: grid;
  row-gap: 0.5rem; /* space-y-2 */
}

.accordionQuestion {
  font-weight: 500;
  font-size: 0.875rem;
  text-transform: uppercase;
}

.accordionAnswer {
  font-size: 0.875rem;
  color: #4b5563;
  line-height: 1.625;
}
