.layout {
  padding: clamp(15px, 5vw, 40px);
  display: grid;
  grid-template-columns: 1fr;
  gap: 15px;
}

.componentLayout {
  display: grid;
  align-items: center;
  container-type: inline-size;
}
.firstLayout {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-areas:
    "TitleWrapper OrderSummary"
    "AddressCard OrderSummary"
    "BillCheck OrderSummary"
    "Accordion OrderSummary"
    "ShippingMethod OrderSummary";
  gap: 20px;
  @container (max-width: 700px) {
    grid-template-columns: 1fr;
    grid-template-areas:
      "TitleWrapper"
      "AddressCard"
      "BillCheck"
      "Accordion"
      "ShippingMethod"
      "OrderSummary";
    row-gap: 25px;
  }
}
.tittleWrapper {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  align-items: center;
  grid-area: TitleWrapper;
}
.address {
  grid-area: AddressCard;
}
.accordion {
  width: 100%;
  grid-area: Accordion;
}
.accordionContent {
  text-align: justify;
  max-width: 50vw;
}
.shippingmethod {
  grid-area: ShippingMethod;
  display: grid;
  gap: 15px;
  
}
.summary {
  grid-area: OrderSummary;
}
.billCheck {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 5px;
  grid-area: BillCheck;
  padding: 5px;
}
