.layout {
  display: grid;
  row-gap: 20px;  
}
.row {
  display: grid;
  grid-template-columns: 1fr 1fr;  
  column-gap: 88px;  
  justify-content: space-between;  
}
.fontColor {
  font-size: var(--size-font-size-300-m);
  font-weight: var(--weight-regular);
  color: var(--grey-grey-700);
}
.marginBottom {
  margin-bottom: 8px;
}
.rowGap {
  display: grid;
  grid-auto-flow: column;  
  column-gap: 7px;         
}
.forgotPassword {
  font-size: var(--size-font-size-300);
  font-weight: var(--weight-regular);
}
.header {
  text-align: center;
  font-weight: var(--weight-semibold);
  font-size: var(--size-font-size-400);
}
