.layout {
  display: grid;
  row-gap: 20px;  
}
.row {
  display: grid;
  grid-template-columns: 1fr 1fr;  
  column-gap: 88px;  
  justify-content: space-between;  
}
.fontColor {
  font-size: var(--font-size-font-size-300-m);
  font-weight: var(--font-weight-regular);
  color: var(--colour-text-primary);
}
.marginBottom {
  margin-bottom: 8px;
}
.rowGap {
  display: grid;
  grid-auto-flow: column;  
  column-gap: 7px;         
}
.forgotPassword {
  font-size: var(--font-size-font-size-300);
  font-weight: var(--font-weight-regular);
}
.header {
  text-align: center;
  font-weight: var(--font-weight-semibold);
  font-size: var(--font-size-font-size-400);
}

.errorMsg {
	color: red;
	margin: 8px 0;
	font-size: 14px;
}

.checkboxBox {
	border: 1px solid #4F4B53;
	width: 16px;
	height: 16px;
	border-radius: 2px;
}
