.layout {
  display: grid;
  row-gap: 20px;  
}
.row {
  display: grid;
  grid-template-columns: 1fr 1fr;  
  column-gap: 88px;  
  justify-content: space-between;  
}
.fontColor {
  font-size: 14px;
  font-weight: 400;
  color: #4f4b53;
}
.marginBottom {
  margin-bottom: 8px;
}
.rowGap {
  display: grid;
  grid-auto-flow: column;  
  column-gap: 7px;         
}
.forgotPassword {
  font-size: 14px;
  font-weight: 400;
}
.header {
  text-align: center;
  font-weight: 600;
  font-size: 20px;
}
