.Input {
  display: flex;
  height: 2.5rem;
  width: 100%;
  border: 1px solid #b3b2b5;
  background-color: #ffffff;
  padding-right: 0.75rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 0.875rem;
  outline: none;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  color: #4f4b53;
  font-weight: 500;
  padding-left: 0.5rem;
}

.Input:focus {
  background-color: #ffffff;
  border-color: #b3b2b5;
  color: #4f4b53;
}

.Input:hover {
  background-color: #fafafa;

  border-color: #b3b2b5;
  color: black;
}

.Input[type="search"]::-webkit-search-decoration,
.Input[type="search"]::-webkit-search-cancel-button,
.Input[type="search"]::-webkit-search-results-button,
.Input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

.Input:-webkit-autofill {
  background-color: #ffffff;
  border: 1px solid #b3b2b5;
  color: #4f4b53;
}

.Input::placeholder {
  color: black;
}

.Input:focus-visible {
  outline: none;
  border-color: hsl(var(--ring) / 0.70);
  box-shadow: 0 0 0 2px hsl(var(--ring) / 0.10);
}


.Input:disabled {
  cursor: not-allowed;
  opacity: 0.5;
  background-color: #f0f0f0;
  border-color: #b3b2b5;
}


.Input:readonly {
  background-color: #f0f0f0;
  border-color: #b3b2b5;
  color: #6c6c6c;
}


.Input.error {
  border-color: #f44336;
  color: #f44336;
}


.Input[type="number"]::-webkit-outer-spin-button,
.Input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.Input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}