.Input {
  display:grid;
  height: 2.5rem;
  width: 100%;
  border: 1px solid var(--colour-border-tertiary);
  background-color: var(--colour-background-primary);
  padding-right: 0.75rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 0.875rem;
  outline: none;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  color: var(--colour-button-border-secondary-hover);
  font-weight: var(--font-weight-medium);
  padding-left: 0.5rem;
}

.Input:focus {
  background-color: var(--colour-background-primary);
  border-color: var(--colour-inputbox-border);
  color: var(--colour-button-border-secondary-hover);
}

.Input:hover {
  background-color: var(--colour-background-secondary);
  border-color: var(--colour-inputbox-border);
  color: var(--colour-title-1);
}

.Input[type="search"]::-webkit-search-decoration,
.Input[type="search"]::-webkit-search-cancel-button,
.Input[type="search"]::-webkit-search-results-button,
.Input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

.Input:-webkit-autofill {
  background-color: var(--colour-background-primary);
  border: 1px solid var(--colour-inputbox-border);
  color: var(--colour-button-border-secondary-hover);
}

.Input::placeholder {
  color: var(--colour-title-1);
}

.Input:focus-visible {
  outline: none;
  border-color: hsl(var(--ring) / 0.70);
  box-shadow: 0 0 0 2px hsl(var(--ring) / 0.10);
}


.Input:disabled {
  cursor: not-allowed;
  opacity: 0.5;
  background-color: #f0f0f0;
  border-color: var(--colour-inputbox-border);
}


.Input:readonly {
  background-color: #f0f0f0;
  border-color: var(--colour-inputbox-border);
  color: #6c6c6c;
}


.Input.error {
  border-color: var(--colour-label-mandatory-field);
  color: var(--colour-label-mandatory-field);
}


.Input[type="number"]::-webkit-outer-spin-button,
.Input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.Input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}