.RadioGroup {
    gap: 0.5rem; 
}

.RadioGroupItem {
  width: 1.125rem; 
  height: 1.125rem; 
  aspect-ratio: 1 / 1; 
  border-radius: var(--border-radius-circle); 
  border-width: 1.5px; 
  border-style: solid; 
  border-color: var(--colour-button-border-secondary); 
  color: var(--colour-text-tertiary); 
  background-color: var(--colour-button-background-primary); 
  outline: none;
}

/* Focus styles */
.RadioGroupItem:focus {
  outline: none; 
  /* box-shadow: 0 0 0 2px #000000, 0 0 0 4px #000000;  */
}

/* Disabled styles */
.RadioGroupItem:disabled {
  cursor: not-allowed; 
  opacity: 0.5; 
}

.RadioGroupItemIndicator {
  display: grid; 
  place-items: center;
}

.Circle {
  height: 0.7rem; 
  width: 0.7rem; 
  fill: currentColor; 
  color: var(--colour-text-secondary); 
}