.layout {
  display: grid;
  gap:20px;
}
.row {
  display: grid;
  grid-auto-flow: column;
  column-gap: 8px;
}
.fontColor {
  font-size: var(--font-size-font-size-300-m);
  font-weight: var(--font-weight-regular);
  color: var(--colour-text-primary);
}
.marginBottom {
  margin-bottom: 8px;
}
.header {
  text-align: center;
  font-weight: var(--font-weight-semibold);
  font-size: var(--font-size-font-size-500-m);
}
.buttonStyle {
  font-size: var(--font-size-font-size-200);
  font-weight: var(--font-weight-semibold);
  color: var(--colour-button-label-secondary);
  width: 325px;
}
.policy {
  font-size: var(--font-size-font-size-300-m);
  font-weight: var(--font-weight-regular);
}
.selectBox {
  width: 325px;
  border: 1px solid var(--colour-inputbox-border);
  color: var(--colour-inputbox-label);
}
