.layout {
  display: grid;
  gap: 20px;
}
.row {
  display: grid;
  grid-auto-flow: column;
  column-gap: 7px;
}
.fontColor {
  font-size: 14px;
  font-weight: 400;
  color: #4f4b53;
}
.marginBottom {
  margin-bottom: 8px;
}
.header {
  text-align: center;
  font-weight: 600;
  font-size: 20px;
}
.buttonStyle {
  font-size: 12px;
  font-weight: 600;
  color: #fff;
  width: 325px;
}
.policy {
  font-size: 14px;
  font-weight: 400;
}
.selectBox {
  width: 325px;
  border: 1px solid #b3b2b5;
  color: #75757a;
}
