.container {
    width: 72px;
    height: 48px;
    background-color: white;
    border: 1px solid black;
    display: grid;
    place-items: center;
    position: relative;
  }
  
  .content {
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    column-gap: 8px;
  }
  
  .quantityText {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    text-align: center;
    color: black;
  }
  
  .iconButton {
    width: 8px;
    height: 8px;
    cursor: pointer;
  }
  
  .dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    width: 71px;
    background-color: white;
    color: black;
    border: 1px solid black;
    z-index: 10;
    overflow: hidden;
}

.dropdownList {
    max-height: 300px; 
    overflow-y: auto;
    display: grid;
    grid-template-rows: repeat(30, auto);
}

  
  .dropdownItem {
    padding: 8px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .dropdownItem:hover {
    background-color: white;
    color: black;
  }
  
  .downArrowIcon {
    width: 8px;
    height: 4px;
    cursor: pointer;
  }
  