.bagContent{
    background-color: #FAFAFA;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    border-bottom: 1px solid #cccbce;
  overflow-y: auto;
}
.whiteBackground {
  background-color: #FFFFFF ;  
  border-bottom:none ;
  padding: 0px;
}
.cartItem{
    display: flex;
gap:20px;
padding-bottom: 10px;
justify-content: space-between;
align-items: center;
}
.quantity{
    padding-top: 5px;
}
.orderPrice{
    padding-top: 8px;
}

.wishlistBtn {
    background: white;
    border: 1px solid #ccc;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  