.overlay {
    height: 100vh;
    width: 100vw;
}

.overlayBackground {
    height: 100vh;
    width: 100vw;
    position: fixed;
    cursor: url('/images/customCursor.svg') 10 10, auto;
    z-index: 9;
    backdrop-filter: blur(20px);
    background-color: rgba(0, 0, 0, 0.6);
}

.overlayContainer {
    position: fixed;
    background-color: white;
    width: 100%;
    height: 357px;
    padding: 20px 40px;
    display: flex;
    gap: 20px;
    top: 0;
    z-index: 10;
}

/* Image Container */
.imageContainer {
    display: flex;
    gap: 20px;
}

.oneSecondaryImage img {
    width: 325px;
    height: 317px;
}

.twoSecondaryImage {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.twoSecondaryImage img {
    object-fit: cover;
}

/* Category Container */
.categoryContainer {
    display: flex;
    gap: 20px;
    flex: 1;
}

.subcategoryContainer {
    display: flex;
    flex-direction: column;
    gap: 15px;
    flex: 1;
    max-width: 210px;
}

.subcategory:hover {
    cursor: pointer;
}

.closeButton {
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
}