  .wrapper {
    container-type: inline-size;
    container-name: getTheLook;
    width: 100%;
  }
    .banner {
    display: grid;
    grid-template-columns: 40% 1fr;
    align-items: center;
    padding: clamp(2rem, 5vw, 5rem);
    gap: 2rem;
    overflow: hidden;
  }
  
  .textBlock {
    transition: transform 0.6s ease;
    transform: translateY(0);
    z-index: 1;
  }
  
  .textAnimate {
    transform: translateY(-20px);
  }
  
  .textBlock h1 {
    font-size: clamp(var(--font-size-font-size-600-M), 2vw + 1rem, var(--font-size-font-size-700));
    font-weight: bold;
    margin: 0 0 10px;
  }
  
  .textBlock p,
  .textBlock span {
    font-size: clamp(var(--font-size-font-size-300-M), 1vw + 0.5rem, var(--font-size-font-size-400-M));
    color: var(--colour-text-secondary);
  }
  
  .buttonContainer{
    margin-top:30px;
  }
  
  .cards {
    position: relative;
    width: 100%;
    height: clamp(300px, 45vw, 600px);
    display: grid;
    place-items: center;
  }
  
  .card {
    position: absolute;
    opacity: 0;
    transition: all 1s ease;
    object-fit: cover;
    width: clamp(280px, 30vw, 325px) !important;
    height: clamp(300px, 35vw, 425px);
   
   
  }
  
  .inView {
    opacity: 1;
  }
  
  .leftCard {
    left: 0;
    top: 0;
    transform: translateX(-100px);
  }
  
  .centerCard {
    left: 210px;
    top: 170px;
    transform: translateY(100px);
    z-index: 2;
  }
  
  .rightCard {
    left: 435px;
    top: 0;
    transform: translateX(150px);
  }
  
  .inView.leftCard {
    transform: translateX(0);
  }
  
  .inView.centerCard {
    transform: translateY(0);
  }
  
  .inView.rightCard {
    transform: translateX(0);
  }
  

   @container (max-width: 768px) {
    .banner {
      grid-template-columns: 1fr;
      grid-template-rows: auto auto;
      text-align: center;
      padding: 0 1rem;
      
    }
  
    .cards {
      order: -1;
      height: 450px;
      position: relative;
      margin-bottom: 0;
      width: 100%;
      display: block;
     
    }
  
    .card {
      position: absolute;
      /* width: 45%; */
      width: 40%;
      height: auto;
      max-width: 180px;
      opacity: 1;
    }
  
    .leftCard {
      left: 0;
      top: 50px;
      z-index: 1;
      transform: none;
    }
  
    .centerCard {
      left: 30%;
      top: 120px;
      transform: translateX(-50%);
      z-index: 3;
    }
  
    .rightCard {
      right: 0;
      top: 50px;
      left: auto;
      z-index: 2;
      transform: none;
    }
  
    .buttonContainer {
      justify-content: center;
    }

    .textBlock {
      margin-top: -100px;
    }
  }