.footer {
    display: grid;
    background-color: #1D1823;
    container-type: inline-size;
    padding: 0px 40px;
    color:#FFFFFF;
  }
.logoSection{
    display: grid;
    padding: 36px 0px;
}
.containerSection{
    display: grid;
    grid-template-columns: 1fr 0.3fr;
    justify-content: space-between;
    gap:10px;
    padding: 26px 0;
    border-bottom: 1.5px solid #4F4B53;
    @container (max-width: 700px) {
        grid-template-columns: 1fr;
        row-gap: 25px;
      }
}
.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
    gap:25px;
    @container (max-width: 700px) {
        grid-template-columns: 1fr;
        row-gap: 25px;
      }
    
}
.subTitle:hover{
    cursor: pointer;
    text-decoration: underline;
}
.title{
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
}
.buttonSection{
    border-top: 1px solid #4F4B53;
    display: grid;
}
.buttonContainer{
    padding: 32px 0;
    display: grid;
    grid-template-columns: 1fr 0.3fr;
    justify-content: space-between;
    align-items: center;
    gap:10px;
    @container (max-width: 700px) {
        grid-template-columns: 1fr;
        row-gap: 25px;
    }
}
.row{
    padding-top: 15px;
    display: grid;
    gap:20px;
    color: #B3B2B5;
    font-weight: 400;
    font-size: 14px;
}
.gap {
    display: grid;
    grid-auto-flow: column;
    justify-content: space-evenly;
    gap: 5px;
  }