.footer {
    display: grid;
    background-color: var(--grey-grey-900);
    container-type: inline-size;
    padding: 0px var(--space-56);
    color:var(--base-white);
  }
.logoSection{
    display: grid;
    padding: 36px 0px;
}
.containerSection{
    display: grid;
    grid-template-columns: 1fr 0.3fr;
    justify-content: space-between;
    gap:var(--space-20);
    padding: 26px 0;
    border-bottom: 1.5px solid var(--grey-grey-700);
    @container (max-width: 700px) {
        grid-template-columns: 1fr;
        row-gap: 25px;
      }
}
.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
    gap:25px;
    @container (max-width: 700px) {
        grid-template-columns: 1fr;
        row-gap: 25px;
      }
    
}
.subTitle:hover{
    cursor: pointer;
    text-decoration: underline;
}
.title{
    font-weight: var(--weight-semibold);
    font-size: var(--size-font-size-300);
    text-transform: uppercase;
}
.buttonSection{
    border-top: 1px solid var( --grey-grey-700);
    display: grid;
}
.buttonContainer{
    padding: 32px 0;
    display: grid;
    grid-template-columns: 1fr 0.3fr;
    justify-content: space-between;
    align-items: center;
    gap:var(--space-20);
    @container (max-width: 700px) {
        grid-template-columns: 1fr;
        row-gap: 25px;
    }
}
.row{
    padding-top: 15px;
    display: grid;
    gap:var(--space-40);
    color: var( --grey-grey-500);
    font-weight: var(--weight-regular);
    font-size: var(--size-font-size-300);
}
.gap {
    display: grid;
    grid-auto-flow: column;
    justify-content: space-evenly;
    gap: var(--space-12);
  }