.chatContainer {
    position: fixed;
    right: 10px;
    z-index: 999;
}

.chatIconWrapper {
    border-radius: 100%;
    width: 48px;
    height: 48px;
    cursor: pointer;
}

.chatWrapper {
    width: 342px;
}

.chatHeader {
    border: 1px solid #CCCBCE;
    background-color: white;
    color: #3B3944;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--space-md);
    font-weight: var(--font-weight-semibold);
    border-top-left-radius: var(--border-radius-xs);
    border-top-right-radius: var(--border-radius-xs);
}

.buttons {
    display: flex;
    gap: var(--space-8xs);
}

.chatMessageContainer {
    width: 342px;
    border: 1px solid #CCCBCE;
    background-color: white;
    padding: 12px;
    overflow: auto;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.message {
    display: block;
    border: 1px solid #CCCBCE;
    padding: 8px;
    max-width: 75%;
    border-radius: 4px;
    overflow-wrap: break-word;
}

.botMessage {
  align-self: flex-start;
  background-color: #FFFFFF; 
}

.userMessage {
  align-self: flex-end;
  background-color: #FAFAFA;
}

.inputContainer {
    display: flex;
    align-items: center;
    background-color: white;
    justify-content: space-around;
    border: 1px solid #CCCBCE;
    padding: var(--space-md);
    gap: 8px;
    width: 342px;
    height: 60px;
    border-bottom-left-radius: var(--border-radius-xs);
    border-bottom-right-radius: var(--border-radius-xs);
}

.input {
    width: 270px;
    height: 36px;
}

.input::placeholder {
    color: #75757A;
    border-color: #75757A;
}