.cartButton{
    width: 398px;
    height: 36px;
}
.bagHeader{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:5px 20px;
    border-bottom: 1px solid #cccbce;
}