.layout {
  border: 1px solid #CCCBCE;
  width: 100%;
  box-sizing: border-box;
  min-width: 320px;
}

.standardLayout {
  padding: 20px;
  display: grid;
  row-gap: 12px;
}

.totalRowTop {
  background-color: #FAFAFA;
  display: grid;
  grid-template-columns: repeat(2,auto);
  gap: 8px;
  padding: 10px 20px;
  box-sizing: border-box;
  justify-content: space-between;
}

.topDivider {
  border: 0;
  border-top: 1px solid #CCCBCE;
}

.title {
  padding-bottom: 20px;
}

.summaryRow,
.totalRow,
.totalSavings,
.reverseTotalSavings {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 8px;
  align-items: center;
}

.divider {
  border: 0;
  border-top: 1px solid #CCCBCE;
  margin: 10px 0;
}

.summaryButton {
  width: 100%;
  display: grid;
  place-items: center;
}

.button {
  width: 100%;
  height: 34px;
}

.paymentImages {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(42px, 1fr));
  gap: 10px;
  justify-content: space-between;
}
