.layout{
    display: flex;
    flex-direction: column;
    gap:20px
}
.section{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap:20px;
}
.sectionForm{
    display: flex;
    flex-direction: column;
    gap:20px;
    
}

.profileText{
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
}
.fontColor{
    font-weight: 400;
    font-size: 14px;
    color: #4F4B53;
    padding-bottom: 4px;
}







.buttonContainer {
  container-type: inline-size; /* This enables container queries */
}

.buttonContainer :global([data-variant="profileUpdate"]){
  width: 85%;
  height: 36px;
  color: #fff;
  border: none;
  background-color: #000;
  font-size: 12px;
}

/* Container query: Apply fixed width when container is narrow */
@container (max-width: 400px) {
  .buttonContainer :global([data-variant="profileUpdate"]){
    width: 325px;
  }
}
