.cartPageWrapper {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  padding: 40px;
  flex-wrap: wrap; /* helps with responsiveness */
}

.cartItemsSection {
  flex: 2;
  min-width: 600px;
}

.orderSummarySection {
  flex: 1;
  min-width: 300px;
}
