
.carouselWrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: auto;
  padding-bottom: 2rem;
  container-type: inline-size;
}

.cardsContainer {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--space-xl);
  transition: transform 1s ease;
  container: inline-size;
}

.card {
  background: var(--colour-background-primary);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cardContent {
  display: grid;
  gap: var(--space-md);
}

.textCard {
  display: grid;
  padding-left: clamp(1rem, 2vw, 2rem);
  align-items: center;
  justify-items: start;
}

.textCard p {
  margin: 1rem 0;
}

.textCard a {
  text-decoration: underline;
  font-weight: bold;
}

.imageCard {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.pagination {
  position: absolute;
  bottom: clamp(0.5rem, 2vw, 1.5rem);
  left: 50%;
  transform: translateX(-50%);
  display: grid;
  grid-auto-flow: column;
  gap: clamp(var(--space-8xs), 1vw, var(--space-xs));
  justify-content: center;
  margin-top: clamp(1rem, 4vw, 2rem);
  
}

.dot {
  width: clamp(40px, 20vw, 120px);
  height: clamp(2px, 0.5vw, 3px);
  background: var(--colour-border-tertiary);
  border-radius: 3px;
  transition: background 0.3s;

}

.active {
  background: var(--colour-background-overlay);
}

.buttonContainer {
  margin-top: 25px;
}

/* Responsive container styles */
@container (max-width: 600px) {
  .cardsContainer {
    display: block;
  }

  .mobileLayout {
    display: flex;
    flex-direction: column;
    gap: var(--space-xl);
  }

  .textCardContainer {
    width: 100%;
    margin-top: 15px;
  }

  .imagesContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--space-xs);
  }

  .textCard {
    width:100%;
    text-align: center;
    height: 100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

