.cardGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: clamp(var(--space-xl), 2vw, 2rem);
}

.twoColumnGrid {
  grid-template-columns: repeat(2, 1fr);
  gap: var(--space-xl);
}

@container (max-width: 700px) {
  .twoColumnGrid {
    grid-template-columns: repeat(1, 1fr);
  }
  .cardGrid {
    grid-template-columns: repeat(1, 1fr);
  }
}

.card {
  display: grid;
  grid-template-rows: auto 1fr auto;
  border: 1px solid var(--colour-border-tertiary);
  padding: 1rem;
  background: var(--colour-surface-primary);
  gap: var(--space-xs);
  transition: background 0.3s;
}

.defaultCard {
  background-color: var(--colour-background-secondary);
  border: 1px solid var(--colour-border-primary);
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  border-bottom: 1px solid var(--colour-border-tertiary);
  padding: 0 4px;
}

.name {
  font-weight: var( --font-weight-semibold);
  font-size: var(--font-size-font-size-400-M);
  margin-top: 5px;
  margin-bottom: 0.25rem;
  padding-bottom: 1rem;
}

.address {
  font-size: var(--font-size-font-size-300);
  color: var(--colour-icon-secondary);
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  line-height: 1.4;
}

.phone {
  font-size: var(--font-size-font-size-300);
  color:var(--colour-icon-secondary);
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

.actions {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  gap: var(--space-xl);
  margin-top: auto;
  margin-bottom: 0.5rem;
}

.checkbox {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: var(--space-8xs);
  font-size: var(--font-size-font-size-400-M);
  font-weight: var(--font-weight-medium);
  color:var(--colour-icon-secondary);
}


.checkbox span {
  line-height: 1;
}

.iconGroup {
  display: grid;
  grid-auto-flow: column;
  justify-content: end;
  gap:var(--space-xl);
}

.icon {
  cursor: pointer;
  color: var(--colour-icon-secondary);
}

.dialogContent {
  display: grid;
  grid-template-rows: auto 1fr auto;
  background-color: var(--colour-surface-primary);
  width: calc(100% - clamp(2rem, 5vw, 4rem));
  max-width: 400px;
  padding: 0;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}

.dialogHeader {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  padding: 1rem 1.5rem;
  border-bottom: 1px solid var(--colour-border-tertiary);
}

.dialogTitle {
  font-size: var(--font-size-font-size-400);
  font-weight: var(--font-weight-bold);
  margin: 0;
}

.dialogCloseIcon {
  width: 1rem;
  height: 1rem;
  cursor: pointer;
}

.dialogDescription {
  padding: 2rem 1.5rem;
  font-size: var(--font-size-font-size-400-M);
  color: var(--colour-icon-secondary);
  border-bottom: 1px solid var(--colour-border-tertiary);
  background-color: var(--colour-background-secondary);
  padding-bottom: 3.5rem;
}

.dialogFooter {
  display: grid;
  grid-auto-flow: column;
  justify-content: end;
  gap: var(--space-xl);
  padding: 0.5rem 0.5rem;
}

.AddressDialogContent {
  width: clamp(320px, 90vw, 720px);
  height: clamp(60vh, 90vh, 512px);
}
