:root {
  --dimension-scale: 2px;
  --dimension-xs: 4px;
  --borderradius-sm: 4px;
  --borderradius-lg: 8px;
  --borderradius-xl: 16px;
  --colors-black: #000000;
  --colors-white: #ffffff;
  --gray-100: #f7fafc;
  --gray-200: #edf2f7;
  --gray-300: #e2e8f0;
  --gray-400: #cbd5e0;
  --gray-500: #a0aec0;
  --gray-600: #718096;
  --gray-700: #4a5568;
  --gray-800: #2d3748;
  --gray-900: #1a202c;
  --red-100: #fff5f5;
  --red-200: #fed7d7;
  --red-300: #feb2b2;
  --red-400: #fc8181;
  --red-500: #f56565;
  --red-600: #e53e3e;
  --red-700: #c53030;
  --red-800: #9b2c2c;
  --red-900: #742a2a;
  --orange-100: #fffaf0;
  --orange-200: #feebc8;
  --orange-300: #fbd38d;
  --orange-400: #f6ad55;
  --orange-500: #ed8936;
  --orange-600: #dd6b20;
  --orange-700: #c05621;
  --orange-800: #9c4221;
  --orange-900: #7b341e;
  --yellow-100: #fffff0;
  --yellow-200: #fefcbf;
  --yellow-300: #faf089;
  --yellow-400: #f6e05e;
  --yellow-500: #ecc94b;
  --yellow-600: #d69e2e;
  --yellow-700: #b7791f;
  --yellow-800: #975a16;
  --yellow-900: #744210;
  --green-100: #f0fff4;
  --green-200: #c6f6d5;
  --green-300: #9ae6b4;
  --green-400: #68d391;
  --green-500: #48bb78;
  --green-600: #38a169;
  --green-700: #2f855a;
  --green-800: #276749;
  --green-900: #22543d;
  --teal-100: #e6fffa;
  --teal-200: #b2f5ea;
  --teal-300: #81e6d9;
  --teal-400: #4fd1c5;
  --teal-500: #38b2ac;
  --teal-600: #319795;
  --teal-700: #2c7a7b;
  --teal-800: #285e61;
  --teal-900: #234e52;
  --blue-100: #ebf8ff;
  --blue-200: #bee3f8;
  --blue-300: #90cdf4;
  --blue-400: #63b3ed;
  --blue-500: #4299e1;
  --blue-600: #3182ce;
  --blue-700: #2b6cb0;
  --blue-800: #2c5282;
  --blue-900: #2a4365;
  --indigo-100: #ebf4ff;
  --indigo-200: #c3dafe;
  --indigo-300: #a3bffa;
  --indigo-400: #7f9cf5;
  --indigo-500: #667eea;
  --indigo-600: #5a67d8;
  --indigo-700: #4c51bf;
  --indigo-800: #434190;
  --indigo-900: #3c366b;
  --purple-100: #faf5ff;
  --purple-200: #e9d8fd;
  --purple-300: #d6bcfa;
  --purple-400: #b794f4;
  --purple-500: #9f7aea;
  --purple-600: #805ad5;
  --purple-700: #6b46c1;
  --purple-800: #553c9a;
  --purple-900: #44337a;
  --pink-100: #fff5f7;
  --pink-200: #fed7e2;
  --pink-300: #fbb6ce;
  --pink-400: #f687b3;
  --pink-500: #ed64a6;
  --pink-600: #d53f8c;
  --pink-700: #b83280;
  --pink-800: #97266d;
  --pink-900: #702459;
  --opacity-low: 10%;
  --opacity-md: 50%;
  --opacity-high: 90%;
  --fontfamilies-heading: Inter;
  --fontfamilies-body: Roboto;
  --lineheights-heading: 110%;
  --lineheights-body: 140%;
  --letterspacing-default: 0;
  --letterspacing-increased: 150%;
  --letterspacing-decreased: -5%;
  --paragraphspacing-h1: 32px;
  --paragraphspacing-h2: 26px;
  --fontweights-headingregular: Regular;
  --fontweights-headingbold: Bold;
  --fontweights-bodyregular: Regular;
  --fontweights-bodybold: Bold;
  --fontsizes-body: 16px;
  --0-x: 5px;
  --0-y: 5px;
  --0-spread: 3px;
  --0-blur: 5px;
  --default-0: dropShadow;
  --1-x: 4px;
  --1-y: 4px;
  --1-spread: 6px;
  --1-color: #00000033;
  --1-blur: 5px;
  --default-1: innerShadow;
  --black-black-50: #0000000d;
  --black-black-100: #0000001a;
  --black-black-200: #00000033;
  --black-black-300: #0000004d;
  --black-black-400: #00000066;
  --black-black-500: #00000080;
  --black-black-600: #00000099;
  --black-black-700: #000000b3;
  --black-black-800: #000000cc;
  --white-white-50: #ffffff0d;
  --white-white-100: #ffffff1a;
  --white-white-200: #ffffff33;
  --white-white-300: #ffffff4d;
  --white-white-400: #ffffff66;
  --white-white-500: #ffffff80;
  --white-white-600: #ffffff99;
  --white-white-700: #ffffffb3;
  --white-white-800: #ffffffcc;
  --red-red-300: #b10b024d;
  --red-red-200: #b10b0233;
  --base-black: #000000;
  --base-white: #ffffff;
  --grey-grey-100: #fafafa;
  --grey-grey-200: #f2f2f2;
  --grey-grey-300: #e5e5e5;
  --grey-grey-400: #cccbce;
  --grey-grey-500: #b3b2b5;
  --grey-grey-600: #75757a;
  --grey-grey-700: #4f4b53;
  --grey-grey-800: #3b3944;
  --grey-grey-900: #1d1823;
  --green-green-100: #daf5da;
  --green-green-200: #48cb48;
  --green-green-300: #3e8629;
  --green-green-400: #00663b;
  --red-red-100: #ffc3c3;
  --red-red-200: #e52424;
  --red-red-300: #b10b02;
  --red-red-400: #83110b;
  --yellow-yellow-100: #fff7e0;
  --yellow-yellow-300: #ffca0d;
  --yellow-yellow-400: #ddb113;
  --yellow-yellow-200: #fff1c1;
  --brown-brown-100: #fff3e8;
  --brown-brown-200: #bb5a00;
  --brown-brown-300: #8d4504;
  --brown-brown-400: #592c03;
  --blue-blue-100: #dfeeff;
  --blue-blue-200: #5591ea;
  --blue-blue-300: #1f7ace;
  --blue-blue-400: #015099;
  --teal-teal-100: #d7f9ff;
  --teal-teal-200: #1cafca;
  --teal-teal-300: #0d8298;
  --teal-teal-400: #006072;
  --orange-orange-100: #ffefe1;
  --orange-orange-200: #ffbb82;
  --orange-orange-300: #ff9033;
  --orange-orange-400: #bd5600;
  --space-4: 2px;
  --space-8: 4px;
  --space-12: 6px;
  --space-16: 8px;
  --space-20: 10px;
  --space-24: 12px;
  --space-28: 14px;
  --space-32: 16px;
  --space-36: 18px;
  --space-40: 20px;
  --space-44: 24px;
  --space-48: 30px;
  --space-52: 34px;
  --space-56: 40px;
  --space-60: 60px;
  --space-64: 80px;
  --space-68: 84px;
  --size-4: 36px;
  --size-8: 40px;
  --size-12: 46px;
  --size-16: 48px;
  --border-radius-4: 4px;
  --border-radius-8: 6px;
  --border-radius-12: 8px;
  --border-radius-16: 10px;
  --border-radius-20: 12px;
  --border-radius-24: 14px;
  --border-radius-28: 16px;
  --border-radius-40: 22px;
  --border-radius-76: 40px;
  --border-radius-96: 50px;
  --border-radius-100: 999px;
  --shadow-4: 2px;
  --shadow-8: 4px;
  --shadow-12: 6px;
  --shadow-16: 8px;
  --shadow-20: 10px;
  --shadow-24: 12px;
  --shadow-28: 14px;
  --shadow-32: 16px;
  --font-display: raleway;
  --font-heading: raleway;
  --font-body: inter;
  --font-label: inter;
  --font-display: poppins;
  --font-heading: poppins;
  --font-body: inter;
  --font-label: inter;
  --weight-light: 300;
  --weight-regular: 400;
  --weight-medium: 500;
  --weight-semibold: 600;
  --weight-bold: 700;
  --size-font-size-800: 48px;
  --size-font-size-500: 28px;
  --size-font-size-400: 20px;
  --size-font-size-300: 14px;
  --size-font-size-200: 12px;
  --size-font-size-100: 10px;
  --size-font-size-600: 32px;
  --size-font-size-700: 40px;
  --size-font-size-100-m: 10px;
  --size-font-size-200-m: 12px;
  --size-font-size-300-m: 14px;
  --size-font-size-400-m: 16px;
  --size-font-size-500-m: 20px;
  --size-font-size-600-m: 24px;
  --size-font-size-700-m: 26px;
  --size-font-size-800-m: 30px;
  --line-height-lh-800: 58px;
  --line-height-lh-700: 53px;
  --line-height-lh-600: 42px;
  --line-height-lh-500: 37px;
  --line-height-lh-400: 26px;
  --line-height-lh-300: 22px;
  --line-height-lh-200: 17px;
  --line-height-lh-100: 16px;
  --line-height-lh-100-m: 16px;
  --line-height-lh-200-m: 17px;
  --line-height-lh-300-m: 22px;
  --line-height-lh-400-m: 24px;
  --line-height-lh-500-m: 26px;
  --line-height-lh-600-m: 32px;
  --line-height-lh-700-m: 34px;
  --line-height-lh-800-m: 36px;
}
