:root {
  --opacity-xs: #0000000d;
  --opacity-sm: #0000001a;
  --opacity-md: #00000033;
  --opacity-lg: #0000004d;
  --opacity-xl: #00000066;
  --opacity-4xl: #00000080;
  --opacity-8xl: #00000099;
  --opacity-12xl: #000000b3;
  --opacity-16xl: #000000cc;
  --colour-surface-primary: #ffffff;
  --colour-background-primary: #ffffff;
  --colour-background-secondary: #fafafa;
  --colour-background-tertiary: #fff3e8;
  --colour-background-overlay: #000000;
  --colour-background-reviewbox: #fafafa;
  --colour-background-footer-dark-1: #1d1823;
  --colour-background-searchbox: #fafafa;
  --colour-background-modal: #fafafa;
  --colour-background-footer-light-1: #fafafa;
  --colour-background-inputbox: #ffffff;
  --colour-background-inputbox-disable: #f2f2f2;
  --colour-button-background-primary: #ffffff;
  --colour-button-label-primary: #000000;
  --colour-button-background-primary-hover: #e5e5e5;
  --colour-button-background-disable: #cccbce;
  --colour-button-label-primary-hover: #000000;
  --colour-button-border-secondary: #4f4b53;
  --colour-button-border-primary: #cccbce;
  --colour-button-label-secondary: #ffffff;
  --colour-button-border-secondary-hover: #4f4b53;
  --colour-button-label-secondary-hover: #ffffff;
  --colour-button-border-tertiary: #000000;
  --colour-button-label-tertiary: #000000;
  --colour-button-background-tertiary-hover: #f2f2f2;
  --colour-text-primary: #000000;
  --colour-text-secondary: #4f4b53;
  --colour-text-tertiary: #ffffff;
  --colour-text-support: #75757a;
  --colour-text-tag: #ffffff;
  --colour-title-1: #000000;
  --colour-title-2: #3b3944;
  --colour-title-3: #75757a;
  --colour-title-4: #ffffff;
  --colour-text-disable: #cccbce;
  --colour-icon-arrow-active: #3b3944;
  --colour-icon-arrow-disable: #cccbce;
  --colour-herobanner-text: #000000;
  --colour-icon-active: #8d4504;
  --colour-icon-active-hover: #000000;
  --colour-icon-disable: #cccbce;
  --colour-nav-icon-active: #3b3944;
  --colour-nav-icon-hover: #000000;
  --colour-icon-support: #75757a;
  --colour-icon-primary: #000000;
  --colour-icon-secondary: #4f4b53;
  --colour-icon-tertiary: #ffffff;
  --colour-header-bottom-separator: #000000;
  --colour-subcategory-labels: #bb5a00;
  --colour-link-1: #3b3944;
  --colour-link-2: #4f4b53;
  --colour-link-3: #b3b2b5;
  --colour-link-4: #ffffff;
  --colour-link-5: #cccbce;
  --colour-border-primary: #4f4b53;
  --colour-border-secondary: #75757a;
  --colour-border-tertiary: #cccbce;
  --colour-border-hover: #bb5a00;
  --colour-border-disable: #cccbce;
  --colour-border-subtle: #4f4b53;
  --colour-inputbox-border: #b3b2b5;
  --colour-inputbox-label: #4f4b53;
  --colour-notification: #b10b02;
  --colour-label-mandatory-field: #e52424;
  --colour-success: #3e8629;
  --colour-background-snackbar: #daf5da;
  --colour-background-sticker-1: #daf5da;
  --colour-background-sticker-2: #daf5da;
  --colour-background-button-applied: #daf5da;
  --colour-reviews: #ffca0d;
  --colour-tag-1: #3b3944;
  --colour-tag-2: #8d4504;
  --colour-radiating-highlighter: #daf5da;
  --colour-background-translucent-primary: #000000b3;
  --colour-background-translucent-secondary: #00000066;
  --colour-background-translucent-tertiary: #ffffff80;
  --colour-background-footer-light-2: #f2f2f2;
  --colour-background-footer-dark-2: #3b3944;
  --colour-button-border-primary-hover: #75757a;
  --colour-button-background-secondary: #000000;
  --colour-button-background-secondary-hover: #4f4b53;
  --colour-focus-state: #ffca0d;
  --colour-background-translucent-quartinary: #ffffff4d;
  --colour-text-quaternary: #ffffff;
  --colour-background-disabled: #f2f2f2;
  --space-12xs: 2px;
  --space-8xs: 4px;
  --space-4xs: 6px;
  --space-xs: 8px;
  --space-sm: 10px;
  --space-md: 12px;
  --space-lg: 14px;
  --space-xl: 16px;
  --space-4xl: 18px;
  --space-8xl: 20px;
  --space-12xl: 24px;
  --space-16xl: 30px;
  --space-20xl: 34px;
  --space-24xl: 40px;
  --space-28xl: 60px;
  --space-32xl: 80px;
  --space-36xl: 84px;
  --size-icon-xs: 36px;
  --size-icon-sm: 40px;
  --size-icon-md: 46px;
  --size-icon-lg: 48px;
  --border-radius-sharp: 0px;
  --border-radius-xs: 4px;
  --border-radius-sm: 6px;
  --border-radius-md: 8px;
  --border-radius-lg: 10px;
  --border-radius-xl: 12px;
  --border-radius-4xl: 22px;
  --border-radius-8xl: 50px;
  --border-radius-pill: 999px;
  --border-radius-circle: 999px;
  --shadow-xs: 0px;
  --shadow-sm: 2px;
  --shadow-md: 4px;
  --shadow-lg: 6px;
  --shadow-xl: 8px;
  --shadow-4xl: 10px;
  --shadow-8xl: 12px;
  --shadow-12xl: 14px;
  --shadow-16xl: 16px;
  --font-family-display: raleway;
  --font-family-heading: raleway;
  --font-family-body: inter;
  --font-family-label: inter;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-size-font-size-800: 48px;
  --font-size-font-size-500: 28px;
  --font-size-font-size-400: 20px;
  --font-size-font-size-300: 14px;
  --font-size-font-size-200: 12px;
  --font-size-font-size-100: 10px;
  --font-size-font-size-600: 32px;
  --font-size-font-size-700: 40px;
  --font-size-font-size-100-M: 10px;
  --font-size-font-size-200-M: 12px;
  --font-size-font-size-300-M: 14px;
  --font-size-font-size-400-M: 16px;
  --font-size-font-size-500-M: 20px;
  --font-size-font-size-600-M: 24px;
  --font-size-font-size-700-M: 26px;
  --font-size-font-size-800-M: 30px;
  --font-line-height-lh-800: 58px;
  --font-line-height-lh-700: 53px;
  --font-line-height-lh-600: 42px;
  --font-line-height-lh-500: 37px;
  --font-line-height-lh-400: 26px;
  --font-line-height-lh-300: 22px;
  --font-line-height-lh-200: 17px;
  --font-line-height-lh-100: 16px;
  --font-line-height-lh-100-M: 16px;
  --font-line-height-lh-200-M: 17px;
  --font-line-height-lh-300-M: 22px;
  --font-line-height-lh-400-M: 24px;
  --font-line-height-lh-500-M: 26px;
  --font-line-height-lh-600-M: 32px;
  --font-line-height-lh-700-M: 34px;
  --font-line-height-lh-800-M: 36px;
}