.wrapper {
  display: grid;
  padding: clamp(1rem, 5vw, 3rem);
  gap: clamp(var(--space-xl), 3vw, var(--space-16xl));
  margin: 0 auto;
  container-type: inline-size;
}

.title {
  font-size: clamp(var(--font-size-font-size-500-M), 2.5vw, var(--font-size-font-size-600-M));
  font-weight: var(--font-weight-semibold);
  text-transform: uppercase;
  margin: 0;
}

.button {
  width: 180px;
}

.centerWrapper {
  display: grid;
  justify-content: center;
  align-items: center;
  min-height: 60vh;
  width: 100%;
  grid-column: 1 / -1;
}
