.layout {
  display: grid;
  row-gap: 20px;
}
.section {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}
.sectionForm {
  display: grid;
  row-gap: 20px;
}
.profileText {
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
}
.fontColor {
  font-weight: 400;
  font-size: 14px;
  color: #4f4b53;
  padding-bottom: 4px;
}
