.layout {
  display: grid;
  row-gap: 20px;
}
.section {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}
.sectionForm {
  display: grid;
  row-gap: 20px;
}
.profileText {
  font-weight: var(--font-weight-semibold);
  font-size: var(--font-size-font-size-300-M);
  text-transform: uppercase;
}
.fontColor {
  font-weight: var(--font-weight-semibold);
  font-size: var(--font-size-font-size-300-M);
  color: var(--colour-text-secondary);
  padding-bottom: 4px;
}



.buttonContainer {
    container-type: inline-size; /* This enables container queries */
  }
  
  .buttonContainer :global([data-variant="profileUpdate"]){
    width: 325px;
    height: 36px;
    color: var(--colour-background-primary);
    border: none;
    background-color: var(--colour-background-overlay);
    font-size: var(--font-size-font-size-200);
  }
  
  /* Container query: Apply fixed width when container is narrow */
  @container (max-width: 400px) {
    .buttonContainer :global([data-variant="profileUpdate"]){
      width: 325px;
    }
  }
  .inputField {
  width: 325px;
  height: 40px;
  border: 1px solid var(--colour-inputbox-border);
  padding: 0 12px;
  font-size: 14px;
}

.inputFieldError {
  border: 1px solid var(--colour-label-mandatory-field) ;
}

.errorText {
  color: var(--colour-label-mandatory-field) ;
  font-size: 12px;
  margin-top: 4px;
}

.passwordRequirement {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 12px;
  margin-bottom: 4px;
  color: var(--colour-label-mandatory-field);
}

  
