.layout {
  display: grid;
  row-gap: 20px;
}
.section {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}
.sectionForm {
  display: grid;
  row-gap: 20px;
}
.profileText {
  font-weight: var(--font-weight-semibold);
  font-size: var(--font-size-font-size-300-M);
  text-transform: uppercase;
}
.fontColor {
  font-weight: var(--font-weight-semibold);
  font-size: var(--font-size-font-size-300-M);
  color: var(--colour-text-secondary);
  padding-bottom: 4px;
}



.buttonContainer {
    container-type: inline-size; /* This enables container queries */
  }
  
  .buttonContainer :global([data-variant="profileUpdate"]){
    width: 51%;
    height: 36px;
    color: var(--colour-background-primary);
    border: none;
    background-color: var(--colour-background-overlay);
    font-size: var(--font-size-font-size-200);
  }
  
  /* Container query: Apply fixed width when container is narrow */
  @container (max-width: 400px) {
    .buttonContainer :global([data-variant="profileUpdate"]){
      width: 325px;
    }
  }
  
