
/* with reposnsiveness */
   .section {
    width: 100%;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    height: auto;
    container-type: inline-size;
    container-name: statement-section;
    padding: 1rem;
  }
  
  .container {
    display: grid;
    grid-template-columns: 60% 40%;
    align-items: center;
    width: 100%;
    gap: clamp(1rem, 2vw, 2rem);
  }
  
  
  .left {
    direction: ltr;
  }
  
  .right {
    direction: rtl;
  }
  
  .imageWrapper {
    width: 100%;
  }
  
  .image {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
  }
  
  .text {
    direction: ltr;
    text-align: left;
    max-width: clamp(300px, 40vw, 434px);
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 2s ease, transform 2s ease;
  }
  
  .text.visible {
    opacity: 1;
    transform: translateY(0);
  }
  
  .buttonContainer {
    margin-top: 1.5rem;
    display: flex;
    justify-content: flex-start;
  }
  
 
  @container statement-section (max-width: 700px) {
    .container {
      grid-template-columns: 1fr;
      grid-template-rows: auto auto;
      justify-items: center;
      text-align: center;
    }
  
    .text {
      text-align: center;
      align-items: center;
    }
  
    .buttonContainer {
      justify-content: center;
    }
  
    .left,
    .right {
      direction: ltr; 
    }
  }
  