.container {
  padding: clamp(8px, 4vw, 20px) clamp(8px, 20vw, 20px);
  display: flex;
  flex-direction: column;
  gap: 20px;
  container-type: inline-size;
}

.filter {
  width: 305px;
}

.orderCardContainer {
  display: grid;
  column-gap: 20px;
  row-gap: 40px;
  justify-content: center;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
}

.orderCard {
  display: flex;
  max-width: 100%;
  height: 210px;
}

.imageGrid {
  height: 100%;
  aspect-ratio: 1 / 1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  overflow: hidden;
  position: relative;
  border: 1px solid #cccbce;
  background-color: #fafafa;
}

.imageWrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

/* .blurOverlay {
  position: absolute;
  inset: 0;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(4px);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 24px;
  color: black;
} */
.blurOverlay {
  position: absolute;
  inset: 0;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(4px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle {
  background-color: white;
  color: black;
  font-size: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.orderDetails {
  height: 100%;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  box-sizing: border-box;
}

.orderDetailsTop {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.orderDetailsBottom {
  display: flex;
  flex-direction: column;
  height: 36px;
}
.orderName {
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.pageNavigator {
  margin-top: 40px;
}

.mobileFilter {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 100;
  background-color: white;
  width: 100%;
  padding: 15px;
  border-top: 1px solid #cccbce;
  font-size: 20px;
  text-align: center;
}
.filterHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.25rem 1rem;
  border-bottom: 1px solid #ddd;
}
.filterList {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.filterItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
  cursor: pointer;
  padding: 0.5rem 0;
}

@container (max-width: 899px) {
  .orderCardContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .imageGrid {
    height: 85px;
    min-width: 85px;
    aspect-ratio: 1 / 1;
  }
  .orderCard {
    display: flex;
    flex-shrink: 1;
    height: 174px;
  }
  .orderDetails {
    row-gap: 30px;
    justify-content: start;
  }
  .circle {
    height: 32px;
    width: 32px;
    font: 13px;
  }
}
