.layoutGallery {
  display: grid;
  gap: 20px;
  grid-template-columns: 0.1fr 1fr;
}

.thumbnails {
  display: grid;
  grid-auto-rows: 0.1fr;
  row-gap: 21px;
}

.thumbnailWrapper {
  position: relative;
  cursor: pointer;
  transition: transform 0.2s ease;
  border: 1px solid transparent;
  box-sizing: border-box;
}

.thumbnailWrapper:hover {
  transform: scale(1.05);
}

.selected {
  border: 1px solid var(--colors-black);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.5);
  pointer-events: none;
  border-radius: inherit;
}

/* Existing styles remain */


.mobileGallery {
  display: grid;
  justify-items: center; /* aligns items horizontally */
  row-gap: var(--space-24);         /* vertical spacing between rows */
}

.dotsContainer {
  display: grid;
  grid-auto-flow: column; /* lay items out in a row */
  justify-content: center;
  column-gap: 8px;        /* horizontal spacing */
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--colour-border-secondary);
  border:1px solid var(--colour-border-secondary);
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.activeDot {
 background-color: var(--colour-icon-secondary);
}
