.header{
    text-align: center;
}
.layout{
    display: grid;
    gap:var(--space-32);
    justify-content: center;
}
.textArea{
    width: 300px;
}
.rating{
    display: grid;
    align-items: center;
    justify-content: center;
    grid-auto-flow: column;
}