
   .wrapper {
    display: flex;
    flex-direction: column;
    gap: clamp(20px, 5vw, 40px);
    padding: clamp(16px, 5vw, 32px);
    container-type: inline-size;
    container-name: my-account;
  }
  
  .tilesGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: clamp(var(--space-xl), 5vw, var(--space-8xl));
  }
  
  @container my-account (max-width: 600px) {
    .tilesGrid {
      grid-template-columns: 1fr;
    }
  }
  

/* Skeleton styles */
.bannerSkeleton {
  height: 275px;
  width: 100%;
  margin-bottom: 1rem;
}

.tileSkeleton {
  height: 80px;
  width: 100%;
  border-radius: 0.5rem;
}

  