.container {
  display: grid;
  align-items: center;    
  grid-auto-flow: column; 
  column-gap: var(--space-28); 
  justify-content: flex-start;      
}

.colorCircle {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 2px solid var(--colour-surface-primary);
  cursor: pointer;
}

.circleBlack {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: 2px solid var(--colour-button-border-secondary);
  cursor: default;
}

.circleBlackW {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: 2px solid var(--colour-surface-primary);
    cursor: default;
  }

.extraCircle {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: var(--colour-surface-primary);
  font-size: var(--font-size-font-size-300);
  font-weight: var( --font-weight-medium);
  display: grid;
  align-items: center;
  justify-content: center;
  border: 2px solid #ccc;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}


.content {
  background-color: var(--colour-surface-primary);
  box-shadow:
    0 2px 4px rgba(15, 19, 23, 0.1),
    0 8px 24px rgba(15, 19, 23, 0.2);
  padding: var(--space-32);
  white-space: nowrap;
  border-radius: var(--border-radius-8);
  position: fixed;
  top:5px
}

.titleColor{
    font-size: var(--font-size-font-size-200);
    font-weight: var(--font-weight-regular);
    color: var(--colour-title-2);
    padding-top: 8px;
}
