.container {
  padding: clamp(16px, 20vw, 20px) 40px;
  display: grid;
  gap: clamp(16px, 3vw, 24px);
}

.filterConainer {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  /* display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  container-type: inline-size; */
}

.buttonConainer {
  display: flex;
  width: auto;
  overflow-x: scroll;
  scrollbar-width: none;
  gap: 10px;
}

/* Skeleton styles */
.skeletonFilter {
  height: 40px;
  width: 100px;
  margin-bottom: 1rem;
}

.skeletonProductContainer {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.skeletonProductCard {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.skeletonProductImage {
  height: 305px;
  width: 305px;
  margin-bottom: 0.5rem;
}

.skeletonProductTitle {
  height: 24px;
  width: 180px;
  margin-bottom: 1rem;
}

.skeletonProductPrice {
  height: 20px;
  width: 80px;
}
