.wrapper {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 670px;
    height: 40px;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1);
}

.input {
    border: none;
    max-width: none;
}

.input:hover {
    background-color: var(--colors-white);
}

.search {
    background-color: var(--colors-white);
    border: none;
    padding: var(--space-12) var(--space-16);
}

.search:hover {
    background-color: var(--colors-white);
    border: none;
}

.cancel {
    background-color: var(--colors-white);
    border: none;
    padding: var(--space-12) var(--space-16);
}

.cancel:hover {
    background-color: var(--colors-white);
    border: none;
}

.mic {
    background-color: var(--colors-white);
    border: none;
    padding: var(--space-12) var(--space-16);
}

.mic:hover {
    background-color: var(--colors-white);
    border: none;
}

.bar {
    width: 1.4px;
    height: 32px;
    background-color: var(--colors-white);
}