.Checkbox {
    height: 18px; 
    width: 18px; 
    flex-shrink: 0;
    border-radius: 2px; 
    background-color: var(--colors-white);
    border: 0.094rem solid var(--grey-grey-700);
    outline: none;
    cursor: pointer;
    padding: 0;
  }
  
  .Checkbox:disabled {
    cursor: not-allowed; 
    opacity: 0.5;         
  }
  
  .Checkbox[data-state="checked"] {
    background-color: var(--grey-grey-700);   
    color: var(--colors-white);   
  }
  
  .CheckboxIndicator {
    display: grid;
    place-items: center; 
    color: currentColor;
  }