.Checkbox {
    height: 1.125rem; 
    width: 1.125rem; 
    flex-shrink: 0;
    border-radius: 0.125rem; 
    background-color: #FFFFFF;
    border: 0.094rem solid #4F4B53;
    outline: none;
    cursor: pointer;
    padding: 0;
  }
  
  .Checkbox:disabled {
    cursor: not-allowed; 
    opacity: 0.5;         
  }
  
  .Checkbox[data-state="checked"] {
    background-color: #4F4B53;   
    color: #FFFFFF;   
  }
  
  .CheckboxIndicator {
    display: flex;      
    align-items: center;       
    justify-content: center; 
    color: currentColor;
  }